#Python
__pycache__/
*.py[cod]

#Virtual Environments
venv/
.venv/

#Local Environment Variables
.env
.env.local
.env.*.local

#Runtime data
data/
*.db
*.sqlite
*.sqlite3

#VSCode
.vscode/

#OS
.DS_Store
Thumbs.db